<html lang="ru">
<body>
<div>
    <form method="get" action="/login" >
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post" action="/main"><!--@PostMapping("/main")-->
        <label>
            <input type="text" name="text" placeholder="Введите сообщение!">
        </label>
        <label>
            <input type="text" name="tag" placeholder="Тег">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="post" action="/filter">
    <label>
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </label>
    <button type="submit">Найти</button>
</form>
{{#messages}}
    <div>
        <b>ID:{{id}}</b>
        <span>Message:{{text}}</span>
        <i>Tag:{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}
</body>
</html>